<div class="three columns">


<nav class="widget">
  <h4>Feed</h4>
  <ul>
    <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom feed</a></li>
  </ul>
</nav>


{% if SOCIAL %}
<nav class="widget">
  <h4>Social</h4>
  <ul>
  {% for name, url in SOCIAL %}
    <li><a href="{{ url|e }}">{{ name }}</a></li>
  {% endfor %}
  </ul>
</nav>
{% endif %}


<h4>Categories</h4>
{% if categories %}
<ul>
	{% for cat, null in categories %}
		<li><a href="{{ SITEURL }}/{{ cat.url|e }}">{{ cat }}</a></li>
	{% endfor %}
</ul>
{% endif %}


<h4>Tags</h4>
{% if tags %}
	<ul>
	{% for tag in tag_cloud %}
	    <li class="tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0|e }}</a></li>
	{% endfor %}
</ul>
{% endif %}


</div>
